#sec-nav {
    background-color: black;
}

#sec-nav a {
    color: rgb(176, 176, 176);
}

.nav-link, .navbar-brand {
    color: white;
}

hr {
    color: white;
}

.hero {
    position: absolute;
    padding: 0!important;
    top: 0;
    z-index: -1;
}

.btn {
    border-color: white;
    color: white;
}

.btn:hover {
    color: rgb(50, 137, 123);
    background-color: white;
}

.card {
    width: 50rem;
    margin: 15rem auto;
}

.card h5 {
    text-align: center;
}
.card-body label{
    display: flex;
}

